header {
    text-align: center;
}

header img {
    max-width:300px;
}

/*=================================
 Overrides de foundation
 =================================*/
/**
 * suppression de la couleur grise de foundation
 */
table tbody tr:nth-child(even) {
    /*background-color:inherit;*/
}

table thead tr {
    background-color: lightsteelblue;
}

/*=================================
 LAYOUT
 =================================*/

.header {
    padding-top: 2rem;
    margin-bottom: 2rem;
   /* border-bottom: 1px solid gold;*/
}

/*=================================
 Resultats des calculs de charges
 =================================*/

.charges-form .row {
  padding-bottom: 1rem;
}

.charges-form__help {
    font-weight: bold;
}

.charges-form label {
    font-size:1rem;
    font-weight: bold;
}

.charges-form__field__descripton{
    font-size:0.85rem;
    font-style: italic;
}

.charges-form input {
    font-size:1rem;
}

.charges-results__result__details {
    font-style: italic;
    font-size:0.9em;
    background-color: #f1f1f1;
}

.charges-results__total {

}

table tbody tr.charges-results__result__total {

}

.report-charts {
    margin-top:47px;
    /*text-align: center;*/
}

.report-charts__title {
    text-align: center;
}

canvas#pie {

    /*
    height:30rem !important;
    width: auto !important;
    margin:auto;
    */
}

