
/*=================================
 Overrides de foundation
 =================================*/
/**
 * suppression de la couleur grise de foundation
 */
table tbody tr:nth-child(even) {
    background-color:inherit;
}

table thead tr {
    background-color: lightsteelblue;
}

/*=================================
 LAYOUT
 =================================*/

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
   /* border-bottom: 1px solid gold;*/
}

/*=================================
 Resultats des calculs de charges
 =================================*/

.charges-form {

}

.charges-form label {
    font-size:1rem;
    font-weight: bold;
}

.charges-form__field__descripton{
    font-size:0.9rem;
    font-style: italic;
}

.charges-form input {
    font-size:2rem;
    padding:1.5rem;
}

.charges-results__result__details {
    font-style: italic;
    font-size:0.9em;
}

.charges-results__total {
    font-weight: bold;
    background-color: #f1f1f1;
}

table tbody tr.charges-results__result__total {
    background-color: #f1f1f1;
    font-weight: bold;
}

.report-charts {
    margin-top:47px;
    /*text-align: center;*/
}

canvas#pie {

    /*
    height:30rem !important;
    width: auto !important;
    margin:auto;
    */
}