
/*=================================
 Overrides de foundation
 =================================*/
/**
 * suppression de la couleur grise de foundation
 */
table tbody tr:nth-child(even) {
    background-color:inherit;
}

table thead tr {
    background-color: lightsteelblue;
}

/*=================================
 Resultats des calculs de charges
 =================================*/

.charges-form {

}

.charges-form label {
    font-size:1.5rem;
}

.charges-form input {
    font-size:2rem;
    padding:1.5rem;
}

.charges-results__result__details {
    font-style: italic;
    font-size:0.9em;
}

.charges-results__total {
    font-weight: bold;
    background-color: #f1f1f1;
}

table tbody tr.charges-results__result__total {
    background-color: #f1f1f1;
    font-weight: bold;
}
