<td>{{result.charge.label}}</td>
<td>{{result.montant | currency}}</td>
<td ng-init="showDetails = true">
    <a ng-show="!showDetails" href="" ng-click="showDetails=!showDetails">Montrer les détails</a>
    <a ng-show="showDetails" href="" ng-click="showDetails=!showDetails">Masquer les détails</a>
    <table ng-show="showDetails" class="table table-responsive">
        <tr>
            <th>montant</th>
            <th>plafond</th>
            <th>taux</th>
        </tr>
        <tr ng-repeat="tranche in result.tranches">
            <td>{{tranche.montant | currency}}</td>
            <td>{{tranche.plafond }}</td>
            <td>{{tranche.taux}}<span ng-hide="!tranche.taux">%</span></td>
        </tr>
    </table>
</td>