<div class="row">
  <div class="small-12 columns">
    <div class="">
      <h2 class="subheader">A quoi sert ce simulateur ?</h2>
      <p><em>
        Ce simulateur essaie de vous aider à ne pas couler votre structure en répondant aussi simplement que possible à la question <strong>« Combien je dois mettre de côté pour pouvoir faire à face mes charges à venir en toute sécurité ? »</strong>.<br/><br/>

        Il vous indique dans la case <strong>"A provisionner"</strong> la somme que vous devez mettre de côté afin de faire face aux charges et à leur régularisations à venir dans les mois et années à venir.
      </em>
      </p>
      <h2 class="subheader">Comment se servir de ce simulateur ?</h2>
      <p><em>Entrez des chiffres correspondant à une période d’un an pour être au plus près de la réalité : le simulateur vous donnera le montant que vous devrez provisionner au titre de cette année.   </em></p>
    </div>
  </div>
</div>
