<form name="calculatorForm" class="form">

    <div class="form-group">
        <label for="remuneration">Rémunération</label>
        <input
                ng-change="calculerResultats()"
                ng-model="form.remuneration"
                type="text" class="form-control"
                id="remuneration"
                placeholder="Rémunération"
                >
    </div>

    <div class="form-group">
        <label for="chiffre_affaire">Chiffre d'affaire</label>
        <input
                ng-change="calculerResultats()"
                ng-model="form.chiffreAffaire"
                type="text"
                class="form-control"
                id="chiffre_affaire"
                placeholder="Chiffre d'affaire"
                >
    </div>

</form>

{{form}}

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Montant</th>
        <th>Détails</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{assuranceVieillesseComplementaire.charge.label}}</td>
        <td>{{assuranceVieillesseComplementaire.montant}}</td>
        <td>{{assuranceVieillesseComplementaire.tranches}}</td>
    </tr>
    <tr>
        <td>{{impotSurLesSocietes.charge.label}}</td>
        <td>{{impotSurLesSocietes.montant}}</td>
        <td>{{impotSurLesSocietes.tranches}}</td>
    </tr>
    </tbody>
</table>