<div class="jumbotron">
    <form name="calculatorForm" class="form-inline">

        <!-- Rémunération -->
        <div class="form-group">
            <label for="remuneration"> Rémunération </label><br/>
            <input
            ng-change="calculerResultats()"
            ng-model="form.remuneration"
            type="text" class="form-control"
            placeholder="Rémunération"
            >
        </div>

        <!-- Chiffres d'affaires -->
        <div class="form-group">
            <label for="chiffre_affaire"> Chiffre d'affaire </label><br/>
            <input
            ng-change="calculerResultats()"
            ng-model="form.chiffreAffaireHt"
            type="text"
            class="form-control"
            placeholder="Chiffre d'affaire"
            >
        </div>

        <!-- Chiffres d'affaires -->
        <div class="form-group">
            <label for="TVA"> TVA </label><br/>
            <input
            ng-change="calculerResultats()"
            ng-model="form.tva"
            type="text"
            class="form-control"
            placeholder="TVA"
            >
        </div>

        <!-- frais -->
        <div class="form-group">
            <label for="frais"> Frais </label><br/>
            <input
            ng-change="calculerResultats()"
            ng-model="form.frais"
            type="text"
            class="form-control"
            placeholder="Frais"
            >
        </div>

        <!-- CFE -->
        <div class="form-group">
            <label for="frais"> CFE </label><br/>
            <input
            ng-change="calculerResultats()"
            ng-model="form.cfe"
            type="text"
            class="form-control"
            id="form.cfe"
            placeholder="CFE"
            >
        </div>

    </form>
</div>

<div>
Bénéfice: {{benefice}}
</div>

<table class="table table-responsive" ng-init="showDetails = false">

    <tr>
        <th>Nom</th>
        <th>
            Détails
            <a ng-show="!showDetails" href="" ng-click="showDetails=!showDetails">
                Montrer les détails
            </a>
            <a ng-show="showDetails" href="" ng-click="showDetails=!showDetails">
                Masquer les détails
            </a>
        </th>
        <th>Montant</th>
    </tr>

    <tr>
        <td>TVA 20%</td>
        <td></td>
        <td>{{ tva | currency }}</td>
    </tr>
    <tr ng-repeat="charge in charges">
        <td>{{charge.charge.label}}</td>
        <td></td>
        <td>{{charge.montant | currency }}</td>
    </tr>

    <tr>
    <td><strong>CFE</strong></td>
        <td></td>
        <td>{{form.cfe | currency }}</td>
    </tr>


    <tr>
    <td><strong>Total A Provisionner</strong></td>
        <td></td>
        <td>{{totalAProvisionner | currency }}</td>
    </tr>

    <!-- URSSAF -->
    <!--
    <tr calculator-table-line result="allocationsFamiliales" details="tatayoyo"></tr>
    <tr calculator-table-line result="formationProfessionnelle" details="showDetails" ></tr>
    <tr calculator-table-line result="maladiesMaternite" details="showDetails"></tr>
-->
<!-- CIPAV -->
    <!--
    <tr calculator-table-line result="assuranceVieillesseBase" details="showDetails" ></tr>
    <tr calculator-table-line result="assuranceVieillesseComplementaire" details="showDetails" ></tr>
-->
    <!--
    <tr calculator-table-line result="impotSurLesSocietes"></tr>
-->

</table>
