<div class="jumbotron">
<form name="calculatorForm" class="form-inline">

    <!-- Rémunération -->
    <div class="form-group">
        <label for="remuneration"> Rémunération</label><br/>
        <input
                ng-change="calculerResultats()"
                ng-model="form.remuneration"
                type="text" class="form-control"
                id="remuneration"
                placeholder="Rémunération"
                >
    </div>

    <!-- Chiffres d'affaires -->
    <div class="form-group">
        <label for="chiffre_affaire"> Chiffre d'affaire</label><br/>
        <input
                ng-change="calculerResultats()"
                ng-model="form.chiffreAffaire"
                type="text"
                class="form-control"
                id="chiffre_affaire"
                placeholder="Chiffre d'affaire"
                >
    </div>

    <!-- frais -->
    <div class="form-group">
        <label for="frais"> Frais</label><br/>
        <input
                ng-change="calculerResultats()"
                ng-model="form.frais"
                type="text"
                class="form-control"
                id="frais"
                placeholder="Frais"
                >
    </div>

    <!-- CFE -->
    <div class="form-group">
        <label for="frais"> CFE</label><br/>
        <input
                ng-change="calculerResultats()"
                ng-model="form.cfe"
                type="text"
                class="form-control"
                id="form.cfe"
                placeholder="CFE"
                >
    </div>

</form>
</div>


<table class="table table-responsive">

    <tr>
        <th>Nom</th>
        <th>Montant</th>
        <th>Détails</th>
    </tr>

    <tr calculator-table-line result="allocationsFamiliales"></tr>
    <tr calculator-table-line result="formationProfessionnelle"></tr>
    <!--
    <tr calculator-table-line result="assuranceVieillesseComplementaire"></tr>
    <tr calculator-table-line result="impotSurLesSocietes"></tr>
    -->

</table>