<form name="calculatorForm" class="charges-form">

  <div class="row">

    <!-- Chiffre d'affaire TTC -->
    <div class="large-3 small-12 columns">
      <label for="chiffre_affaire">Chiffre d'affaire TTC</label>
      <input
              ng-change="refreshResults()"
              ng-model="form.chiffreAffaireTtc"
              type="number"
              class="form-control"
              placeholder="Chiffre d'affaire"
      >
      <div ng-show="showFormHelp" class="charges-form__field__descripton show-for-large">
        Le total des ventes de la société en incluant la TVA.
      </div>
    </div>

    <!-- Chiffres d'affaires HT -->
    <div class="large-3 small-12 columns">
      <label for="chiffre_affaire">Chiffre d'affaire hors taxes</label>
      <input
              ng-change="refreshResults()"
              ng-model="form.chiffreAffaireHt"
              ng-model-options="{ debounce: 300 }"
              type="number"
              class="form-control"
              placeholder="Chiffre d'affaire"
      >
      <div ng-show="showFormHelp" class="charges-form__field__descripton show-for-large">
        Votre chiffre d'affaire sans la TVA de vos ventes. C'est une base de calcul pour certaines des charges.
      </div>
    </div>

    <!-- Rémunération -->
    <div class="large-3 small-12 columns">
      <label for="remuneration"> Rémunération </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.remuneration"
              id="remuneration"
              ng-model-options="{ debounce: 300 }"
              type="number" class="form-control"
              placeholder="Rémunération"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Votre rémunération en tant que gérant. Les cotisations sociales sont calculées sur cette base.
      </div>
    </div>

  </div>

  <div class="row">

    <!-- CFE -->
    <div class="large-3 small-12 columns">
      <label for="cfe"> CFE à verser </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.cfe"
              ng-model-options="{ debounce: 300 }"
              type="number"
              class="form-control"
              id="cfe"
              placeholder="CFE"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Vous devez verser une cotisation foncière des entreprises, dont le montant dépend de votre commune.
      </div>
    </div>

    <!-- frais -->
    <div class="large-3 small-12 columns">
      <label for="fraisTtc"> Frais TTC </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.fraisTtc"
              ng-model-options="{ debounce: 300 }"
              type="number"
              id="fraisTtc"
              class="form-control"
              placeholder="Frais TTC"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Vos dépenses de sociétés <strong>hors taxe</strong> : expertise comtpable, achats, fournisseurs etc ...
      </div>
    </div>

    <!-- frais HT -->
    <div class="large-3 small-12 columns">
      <label for="fraisTtc"> Frais HT </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.fraisHt"
              ng-model-options="{ debounce: 300 }"
              type="number"
              id="fraisHt"
              class="form-control"
              placeholder="Frais HT"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Vos dépenses de sociétés <strong>hors taxe</strong> : expertise comtpable, achats, fournisseurs etc ...
      </div>
    </div>

    <div class="large-3 small-12 columns">
      <label> Prévoyance </label>
      <select
              ng-change="refreshResults()"
              ng-model="form.prevoyance"
              type="number"
              class="form-control"
              placeholder="Prévoyance"
      >
        <option ng-value="tranche.classe" ng-selected="tranche.classe === form.prevoyance" ng-repeat="tranche in chargesConfig.charges.prevoyance.classes">{{tranche.label}}</option>
      </select>
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
      </div>
    </div>

  </div>
</form>

<div style="padding-top:2rem" class="row">
  <div class="small-6 medium-6 columns callout text-center">
    <h4>A provisionner :</h4>
    <h3>{{calculator.getTotalAProvisionner().montant | currency}}</h3>
  </div>
  <div ng-class="{'alert':calculator.getBenefice().montant <= 0, 'success':calculator.getBenefice().montant > 0}" class="small-6 medium-6 columns callout text-center">
    <h4>Bénéfices après provisions </h4>
    <h3>{{calculator.getBenefice().montant | currency}}</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <table class="charges-results">
      <caption>
        Détails des charges
        <div class="show-details show-for-large">
          <a ng-show="!showDetails" href="" ng-click="showDetails=!showDetails">
            Montrer les détails
          </a>
          <a ng-show="showDetails" href="" ng-click="showDetails=!showDetails">
            Masquer les détails
          </a>
        </div>
      </caption>
      <thead>
      <tr>
        <th> Nom </th>
        <th class="show-for-large"> Organisme </th>
        <th class="show-for-large"> Tranche </th>
        <th class="show-for-large"> Tranche Base de calcul </th>
        <th class="show-for-large"> Tranche taux </th>
        <th class="show-for-large"> Tranche forfait </th>
        <th class="show-for-large"> tranche plafond </th>
        <th> Montant </th>
      </tr>
      </thead>

      <tbody class="charges-results__result" ng-repeat="charge in charges">

      <tr class="charges-results__result__total">
        <td> {{charge.label}} </td>
        <td class="show-for-large" colspan="6"> {{charge.organisme}} </td>
        <td> {{charge.montant | currency }} </td>
      </tr>

      <tr class="show-for-large" ng-show="showDetails" class="charges-results__result__details" ng-repeat="tranche in charge.tranchesActives">

        <td colspan="2"></td>
        <td> {{$index + 1}} </td>
        <td> {{tranche.baseCalcul | currency}} </td>
        <td> {{tranche.taux}} <span ng-show="tranche.taux">%</span> </td>
        <td> {{tranche.montant_forfaitaire | currency}}</td>
        <td> {{tranche.plafond == plafondMax ? ' - ' : (tranche.plafond | currency) }} </td>
        <td> {{tranche.montant | currency}} </td>
      </tr>

      </tbody>


    </table>
  </div>
</div>