
<div class="row">

  <!-- Chiffres d'affaires TTC -->
  <div class="small-12 large-4 columns">
    <form name="calculatorForm" class="charges-form">
      <label for="chiffre_affaire">Chiffre d'affaire TTC</label>
      <input
              ng-change="refreshResults()"
              ng-model="form.chiffreAffaireTtc"
              type="number"
              class="form-control"
              placeholder="Chiffre d'affaire"
      >
      <div ng-show="showFormHelp" class="charges-form__field__descripton show-for-large">
        Votre chiffre d'affaire <strong>Hors Taxe</strong>
      </div>


      <!-- Chiffres d'affaires HT -->

      <label for="chiffre_affaire">Chiffre d'affaire HT</label>
      <input
              ng-change="refreshResults()"
              ng-model="form.chiffreAffaireHt"
              type="number"
              class="form-control"
              placeholder="Chiffre d'affaire"
      >
      <div ng-show="showFormHelp" class="charges-form__field__descripton show-for-large">
        Votre chiffre d'affaire <strong>Hors Taxe</strong>
      </div>


      <!-- TVA a reverser -->
      <label for="chiffre_affaire"> TVA due (TVA ventes - TVA achats)</label>
      <input
              ng-change="refreshResults()"
              ng-model="form.tva"
              id="chiffre_affaire"
              type="number"
              class="form-control"
              placeholder="Chiffre d'affaire"
      >
      <div ng-show="showFormHelp" class="charges-form__field__descripton show-for-large">
        La TVA de vos ventes moins la TVA de vos achats.
        <br />préremplir avec 20% du Chiffre d'affaire HT : <a title="cliquer pour reporter ce chiffre dans le champ TVA" ng-click="reportTvaHelper()">
        {{form.chiffreAffaireHt * 0.20 | currency }}
      </a>
      </div>


      <!-- Rémunération -->

      <label for="remuneration"> Rémunération versée </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.remuneration"
              id="remuneration"
              type="number" class="form-control"
              placeholder="Rémunération"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Mon salaire en tant que dirigeant majoritaire de l'EURL
      </div>


      <!-- frais -->

      <label for="frais"> Achats TTC </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.frais"
              type="number"
              id="frais"
              class="form-control"
              placeholder="Frais"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Vos achats et frais de sociétés, avec la TVA : expertise comtpables, achats, déplacements etc ...
      </div>


      <!-- CFE -->

      <label for="cfe"> CFE à verser </label>
      <input
              ng-change="refreshResults()"
              ng-model="form.cfe"
              type="number"
              class="form-control"
              id="cfe"
              placeholder="CFE"
      >
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
        Le montant de la cotisation foncière des entreprises dépend de votre commune
      </div>



      <label> Prévoyance </label>
      <select
              ng-change="refreshResults()"
              ng-model="form.prevoyance"
              type="number"
              class="form-control"
              placeholder="Prévoyance"
      >
        <option ng-value="tranche.classe" ng-selected="tranche.classe === form.prevoyance" ng-repeat="tranche in chargesConfig.charges.prevoyance.classes">{{tranche.label}}</option>
      </select>
      <div ng-show="showFormHelp"  class="charges-form__field__descripton show-for-large">
      </div>

    </form>

  </div>

  <div class="small-12 large-8 columns">



    <div class="messages-wrapper">

      <div class="message from">
        <div class="label">
          Votre banque dit :
        </div>
        <div>Le solde de votre compte est :</div>
        <div class="messages__message__montant">{{texto1Montant | currency}}</div>
        <div class="messages__message__montant__description">
          Votre chiffres d'affaire TTC
        </div>
      </div>

      <div class="message to society">
        <div class="label">
          Votre société dit:
        </div>
        <div>Achats</div>
        <div class="messages__message__montant">{{ texto2Montant | currency}}</div>
        <div class="messages__message__montant__description">
          Les achats pour effectuer mon activité
        </div>
      </div>

      <div class="message from">
        <div class="label">
          Votre banque dit :
        </div>
        <div>
          Solde de votre compte
        </div>
        <div class="messages__message__montant">{{texto3Montant | currency}}</div>
      </div>

      <div class="message to etat">
        <div class="label">
          L'état dit :
        </div>
        <div>Merci de reverser la TVA dûe</div>
        <div class="messages__message__montant">{{ texto4Montant| currency }}</div>
        <div class="messages__message__montant__description">
          Il s'agit de la TVA de vos ventes - la TVA de vos achats
        </div>
      </div>

      <div class="message from">
        <div class="label">
          Votre banque dit:
        </div>
        <div>Solde de votre compte </div>
        <div class="messages__message__montant">{{ texto5Montant| currency }}</div>
        <div class="messages__message__montant__description">
        </div>
      </div>

      <div class="message to you">
        <div class="label">
          Vous dites :
        </div>
        <div>Je dois me verser un salaire de </div>
        <div class="messages__message__montant">{{ texto6Montant| currency }}</div>
        <div class="messages__message__montant__description">
          Il s'agit de mon salaire en tant que dirigeant majoritaire de l'EURL
        </div>
      </div>

      <div class="message from">
        <div class="label">
          Votre banque dit
        </div>
        <div>Solde de votre compte</div>
        <div class="messages__message__montant">{{ texto7Montant| currency }}</div>
        <div class="messages__message__montant__description">
        </div>
      </div>

      <div class="message to etat">
        <div class="label">
          L'état dit:
        </div>
        <div>Coucou, vous devez des cotisations sociales sur votre rémunération.</div>
        <div class="messages__message__montant">{{ texto8Montant| currency }}</div>
        <div class="messages__message__montant__description">
          Cotisations sociales à l'URSSAF, RSI et CIPAV calculé sur la base de votre rémunération de dirigeant majoritaire
        </div>
      </div>

      <div class="message from">
        <div class="label">
          La banque dit:
        </div>
        <div>Solde de votre compte</div>
        <div class="messages__message__montant">{{ texto9Montant| currency }}</div>
        <div class="messages__message__montant__description">
        </div>
      </div>

      <div class="message to etat">
        <div class="label">
          Votre commune dit :
        </div>
        <div>N'oubliez pas votre taxe foncière pour les entreprises !</div>
        <div class="messages__message__montant">{{ texto10Montant| currency }}</div>
        <div class="messages__message__montant__description">
          La CFE : La cotisation foncière des entreprises qui dépend de votre commune.
        </div>
      </div>

      <div class="message from">
        <div class="label">
          Votre banque dit:
        </div>
        <div>Solde de votre compte </div>
        <div class="messages__message__montant">{{ texto11Montant| currency }}</div>
        <div class="messages__message__montant__description">
        </div>
      </div>

      <div class="message to etat">
        <div class="label">
          L'état dit:
        </div>
        <div>Il vous rester des bénéfices ? </div>
        <div class="messages__message__montant">{{ texto12Montant| currency }}</div>
        <div class="messages__message__montant__description">
          Vos bénéfices sont imposés de 15% à 33%
        </div>
      </div>

      <div class="message from">
        <div class="label">
          Votre banque conclut:
        </div>
        <div>il vous reste</div>
        <div class="messages__message__montant">{{ texto13Montant| currency }}</div>
        <div class="messages__message__montant__description">
        </div>
      </div>



    </div>


  </div>

</div>








